.searchContainer{
    background-color:#2A3335;
}
.searchSub{
    position: relative;
    color: aliceblue;
    background-color: #2A3335;
    text-align: center;
    padding: 5px;
    max-width: 370px;
    margin: auto;
}

.searchContainer input{
    height: 38px;
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid whitesmoke;
    padding: 5px;
    background-color: #0A5EB0;
    border-radius: 3px;
}

.searchContainer button{
    position: absolute;
    font-size: 18px;
    right: 13px;
    top: 10px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.searchContainer button:hover{
    color: tomato;
}

