*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: #2A3335;
    display: flex;
    justify-content: start;
    padding: 8px 20px;
    color: aliceblue;
}

nav li{
    
    list-style: none;
    cursor: pointer;
    margin-top: 8px;
    margin-left: 20px;
    transition: 0.3s ease-in-out;
}

nav li:hover{
    color: tomato;
    font-size: 18px;
}


.img{
    height: 40px;
}

